*{
  margin: 0;
  padding: 0;
}
.pages-detailspageShop{
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
}
.pages-detailspageShop-body{
  flex:1;
  overflow: auto;
}
.swiper-container {
  width: 100%;
  height: 100px;
}
.swiper-pagination-bullet-active {
  color:#fff;
  background: #007aff;
}
.swiper-slide img{
  width: 100%;
  height: auto;
  display: block;
}















.pages-detailspageShop-foot{
  width: 100%;
  height: 1rem;
  display: flex;
  margin-bottom: 1rem;
}
.detailspageShop-foot-but1{
  width: 100%;
  height: 100%;
  background: gold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.detailspageShop-foot-but2{
  width: 100%;
  height: 100%;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}