.home_Goods_chilLt{
	width: 100%;
	background: white;
	margin-bottom: 0.02rem;
	.home_GoodsBoyLt{
    width: 100%;
    height: 3.4rem;
		display: flex;
		border: 0.01rem solid #eee;
		ul{
			width: 50%;
			padding: 0.1rem;
			box-sizing: border-box;
			li{
				width: 100%;
			}
			li:nth-child(1){
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 0.26rem;
				font-weight: 900;
				color: black;
			}
			li:nth-child(2){
				font-weight: bold;
        color: firebrick;
				font-size: 0.27rem;
			}
			li:nth-child(3){
				padding:0.1rem  0.15rem;
        box-sizing: border-box;
        height: 3rem;
				img{
					width: 100%;
					height: 70%;
					display: block;
				}
			}		
		}
		.home_GoodsBoyRig{
      width: 50%;
			border-left: 0.01rem solid #eee;
			margin: 0 !important;
			dl:nth-child(1){
					border-bottom: 0.01rem solid #eee;
			}
			dl{
				width: 100%;
				height: 1.7rem;
				display: flex;
				margin: 0 !important;
				padding: 0.2rem;
				box-sizing: border-box;
				dd{
					width: 60%;
					padding: 0.1rem;
					box-sizing: border-box;
					p{
						margin: 0 !important;
					}
					p:nth-child(1){
						font-size: 0.26rem;
						font-weight: 900;
						color: black;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
					p:nth-child(2){
						font-size: 0.22rem;
						color: gray;
					}
				}	
				dt{
          width: 40%;
          margin: 0 !important;
          img{
            width: 100%;
            display:block;
            height: 80%;
          }
				}
			}
		}	
  }
	.home_GoodsBoyfoo{
		width: 100%;
		display: flex;
		.home_Goodsfooter:nth-child(1){
			border-left:0.01rem solid transparent ;
		}
		.home_Goodsfooter{
			width:25%;
			border-left:0.01rem solid #eee ;
			p{
				width: 100%;
				margin: 0 !important;
				padding: 0.08rem;
				box-sizing: border-box;
			}
			p:nth-child(1){
				font-size: 0.22rem;
        font-weight: 900;
        color: black;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			p:nth-child(2){
				width: 100%;
				padding: 0.1rem;
				box-sizing:border-box;
				img{
						width: 100%;
						display: block;
						height: 1.7rem;
				}
			}
			p:nth-child(3){
        font-weight: bold;
        color: firebrick;
			}
		}   
	}
	.home_childRig{
		width: 100%;
		display: flex;
		border: 0.01rem solid #eee;
		margin: 0 !important;
		ul:nth-child(1){
			border-right: 0.01rem solid #eee;
		}
		ul{
			width: 50%;
			margin: 0 !important;
			li{
				width: 100%;
			}
			li:nth-child(1){
        padding:0.1rem 0.2rem;
        box-sizing: border-box;
        font-size: 0.26rem;
        font-weight: 900;
        color: black;
				box-sizing: border-box;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			li:nth-child(2){
        padding:0.05rem;
        box-sizing: border-box;
        font-size: 0.22rem;
				color:gray;
				text-align: center;
			}
			li:nth-child(3){
				display: flex;
				justify-content: center;
				align-items: center;
				img{
					width: 50%;
					height: auto;
					display: block;
				}
			}
		}
	}
}
