.searchs{
  width: 100%;
  height: 100%;
  background: #eee;
  .searchsInput{
    background: white;
  }
  .searchsAbout{
    width: 100%;
    background: white;
  }
  .searchsfilter{
    width: 100%;
    display: flex;
    align-items: center;
    background: white;
    border-bottom: 0.01rem solid #eee;
    .filtrate{
      width: 1.4rem;
    }
    p{
      height: 0.5rem;
      padding: 0.2rem;
      box-sizing: border-box;
    }
    .classles{
      color: orange;
    }
  }
  .searchstab{
    width: 100%;
    padding: 0.2rem;
    box-sizing: border-box;
    background: white;
    text-align: center;
  }
}