.pages-my{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .section{
    flex: 1;
    .my-section{
      height: 100%;
      .header-user{
        background: red;
        padding: 1rem 0 .2rem .2rem;
        .user-image{
          display: flex;
          color: #fff;
          .nickname{
            padding-left: .2rem;
          }
        }
      }

      .order-form{
        display: flex;
        justify-content: space-between;
        padding: 0.15rem 0.2rem;
        border-bottom: 1px solid #efefef;
      }

      .order-status{
        padding: .2rem 0;
        border-bottom: .3rem solid #efefef;
        .anticon{
          color: red;
        }
      }

      .user-information{
        p{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0;
          padding: .2rem .2rem 0 .6rem;
          i{font-size: .4rem;}
        }
      }

      .loginAndRegister{
        padding: .25rem 1rem;
        p{
          margin: 0;
          width: 100%;
          background: red;
          color: #fff;
          text-align: center;
          padding: 0.1rem 0;
          border-radius: 0.1rem;
        }
      }
    }
  }
}