.components-nav{
  .navWrap{
    display: flex;
    justify-content: space-around;
    margin: 0;
    background: #fff;
    .clear-nav{
      color: black;
      width: 100%;
    }
    .anticon{
      display: block;
    }
    .home-nav{
      padding: 0.05rem 0;
      .anticon{
        font-size: 0.4rem;
      }
      .active{
        color: red; 
      }
    }
    .my-nav{
      .anticon{
        color: red;
        font-size: 0.35rem;
      }
    }
    .list-nav{
      flex: 1;
      text-align: center;
      border-bottom: 1px solid #efefef;
      .icon{ display: none;}
      .active{
        border-bottom: 1px solid red !important;
      }
      .clear-nav{ 
        display: block;
        border-bottom: 1px solid transparent;
        padding: 0.2rem 0;
      }
      span{
        display: block;
      }
    }
  }
}