.components-nav{
  .navWrap{
    display: flex;
    justify-content: space-around;
    margin: 0;
    background: #fff;
    .clear-nav{
      color: black;
      width: 100%;
    }
    .anticon{
      display: block;
    }
    .home-nav{
      padding: 0.05rem 0;
      .anticon{
        font-size: 0.4rem;
      }
      .active{
        color: red; 
      }
    }
<<<<<<< HEAD
  }
  .list-nav-wrap{
    border-bottom: 1px solid #efefef;
    border: 1px solid #efefef;
    border-right: none;
    border-left: none;
    .list-nav{
      .clear-nav{
        display: inline-block;
        padding: 0.2rem 0;
      }
      .active{
        border-bottom: 1px solid red;
=======
    .my-nav{
      .anticon{
        color: red;
        font-size: 0.35rem;
>>>>>>> 762ac22a125213e101cb56441108f8b8d8d035fe
      }
    }
  }
}